* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
	display: flex;
   /*  flex-wrap: wrap; */
    justify-content: flex-end;
    padding: 20px;
}

h1 {
	padding-bottom: .5rem;
	padding-top: .5rem;
}

	@media (min-width: 768px) {
		h1 {
			padding-bottom: 1rem;
		    padding-left: 1rem;
		    padding-top: 1rem;
		}
	}

h2 {
	display: flex;
	justify-content: center;
}

	@media (min-width: 768px) {
		h2 {
			display: flex;
			justify-content: center;
		    padding-top: 2rem;
		}
	}

h3 {
    text-align: center;
}

	@media (min-width: 768px) {
		section {
		    min-height: 100vh;
		    width: 100vw;
		}
	}

header {
  text-align: center;
}

	@media (min-width: 768px) {
		header {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 100vw;
		}
	}

.back {
	display: flex;
	justify-content: center;
}

.ingredients ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	.ingredients ul li span {
		font-size: large;
	}

	.ingredients ul li button {
		font-size: medium;
		margin-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
.instructions h2 {
	margin-top: 0;
}

.nav-buttons {
	display:flex;
	flex-direction: column;
}

	@media (min-width) {
		.nav-buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

.one-recipe-image {
	align-items: center;
	display: flex;
	justify-content: center;
}

.recipe-image,
.one-recipe-image {
    display: flex;
    height:auto;
    max-width: 100%;
    width: 80vw;
}
    @media (min-width:768px) {
    .recipe-image {
        /* max-height: 45vh;
        max-width: 30vw; */
        height: 400px;
        width: 600px;
        }
    }
    
.recipe-ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

	.recipe-ingredients h2 {
		margin-bottom: 0;
	}

.recipe-on-home,
.image-section {
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 0;
    text-decoration: none;
}

	@media (min-width: 768px) {
	.recipe-on-home {
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	}
	}	

.recipes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

	@media (min-width: 768px) {
	.recipes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
	}

    /* @media (min-width: 768px) {
    .recipes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    } */

.title-social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: .75rem;
}

#cook-button,
#shop-button {
	display: flex;
	justify-content: center;
}

/* #delete-layout {
		display: flex;
		flex-direction: row;
		justify-content: center;
}

	@media (min-width: 768px) {
		#delete-layout {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}
	}
	
	#delete-layout button {
		font-size: small;
		margin-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
	} */