#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 20%;
	margin-bottom: 5%;
	margin-top: 5%;
}

#description {
	margin-left: 15%;
	margin-right: 15%;
}

#news {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 20%;
	margin-bottom: 10%;
	margin-top: 10%;
}

.recipes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#review {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#review__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#review__list__by__tag {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#recipe-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 20%;
	margin-bottom: 10%;
	margin-top: 10%;
}

#tags {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.add__remove__tags {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#comment__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.container {
	display: grid;
	grid-row: 10% 80% 10%;
}

footer {
	display: flex;
	justify-content: flex-end;
	padding-right: 10%
}

form {
	padding: 20px;
}

h3 {
	padding: 10px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}