* {
	margin: 0;
	padding: 0;
}

footer {
	position: bottom;
}

h4 {
	text-align: right;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container {
	height: 100vh;
	width: 100vw;
}

.ingredients {
	margin: 2rem;
}

.instructions {
	margin: 2rem;
}

#social_media {
	
}