* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
	display: flex;
    justify-content: flex-end;
    padding: 20px;
}

h1 {
	padding-bottom: .5rem;
	padding-top: .5rem;
}

h2 {
	display: flex;
	justify-content: center;
}

h3 {
	padding-bottom: .25rem;
	padding-top: .25rem;
    text-align: center;
}

header {
  text-align: center;
}

ul {
	padding: 15px;
}

.back {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.container {
	min-height: 100vh;
}

.final-selection li {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ingredients ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: .5rem;
}

	.ingredients ul li span {
		font-size: large;
	}

	.ingredients ul li button {
		font-size: medium;
		height: 1rem;
		margin-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
		width: auto;
	}
	
.instructions h2 {
	margin-top: 0;
}

.nav-buttons {
	display:flex;
	flex-direction: column;
}

.recipe-image,
#one-recipe-image {
    display: flex;
    height: auto;
    max-width: 100%;
    width: 80vw;
}

.recipe-image {
	padding-top: .25rem;
}
    
.recipe-ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

	.recipe-ingredients ul li {
		padding-bottom: .25rem;
	}

.recipe-layout {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: auto;
	padding: 0;
}

.recipe-on-home {
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 0;
    text-decoration: none;
}

.recipes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected-ingredients {
	margin-bottom: 1rem;
	margin-left: 0;
	margin-right: 0;
	margin-top: 1rem;
}

.store-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.submit-reset {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1rem;
}


.title-social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: .75rem;
}

.total-edit {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cook-button,
#shop-button {
	display: flex;
	justify-content: center;
}

#ingredients {
	margin-bottom: 0;
	padding: 0;
}

#one-recipe-image {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
	
#quantity-input {
	height: 35px;
	width: 35px;
}


#selected-image {
	margin: auto;
	padding-bottom: .5rem;
}






























@media (min-width: 768px) {
	h1 {
		margin: auto;
	}

	h2 {
		display: flex;
		justify-content: center;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 1rem;
		width: 100vw;
	}

	.build-cart,
	.my-shopping-list {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.container {
		min-height: 100vh;
	}
	
	.container #home-header header{
	    min-height: 100vh;
	    width: 100vw;
	}

	.ingredients {
		margin: auto;
		max-width: 60vw;
	}

		.ingredients ul {
			font-size: 8rem;
		}

	.final-selection li {
		display: flex;
		height: auto;
		justify-content: space-between;
		width: 33%;
	}

		.final-selection li .selected-text {
			display: flex;
			flex-direction: column;
			margin: auto;
		}

	.nav-buttons {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-bottom: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.recipe-image {
        /* max-height: 45vh;
        max-width: 30vw; */
        height: 400px;
        width: 600px;
    }

    .recipe-ingredients {
		display: flex;
		justify-content: flex-start;
		/*margin: auto;*/
		max-width: 45vw;
		padding: 1rem;
	}

		.recipe-ingredients ul {
			margin: 0;
		}

	.recipe-layout {
		align-items: flex-start;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		margin: 1rem;
	}

	.recipe-on-home {
		align-items: center;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	}

	.recipes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}

	.selected-ingredients {
		margin: 0;
	}

	.selection .final-selection {
		display: flex;
		flex-direction: row;
	}

	.selection-header {
		margin-bottom: 1rem;
	}

		.selection-header p {
			margin-left: 1rem;
			margin-top: .5rem;
		}

		.selection-header li {
			margin-left: 1rem;
		}

	.selection-item {
		margin-left: .5rem;
		margin-right: .5rem;
	}

	.store-item {
		margin-right: 1rem;
		margin-bottom: 1rem;
		width: 31%;
	}

	.store-item-image {
		margin-top: 1rem;
		width: auto;
		max-height: 50%;
	}

	.store-item-name {
		word-wrap: normal;
	}

	.store-options {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#ingredient-item {
		padding-right: 10rem;
	}

	#ingredients {
		margin-bottom: 1rem;
		margin-left: 0;
		margin-right: 0;
	}

	#my-shopping-list {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	#one-recipe-image {
	/*	margin-right: 1rem;
		margin-bottom: 1rem;*/
		width: 45vw;
	}

	#selected-image {
		height: auto;
		margin: auto;
		max-width: 45%;
	}

}