/*grocery app title*/
/* @import url('https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Arima+Madurai|Atma|Cabin+Sketch|Chathura|Chelsea+Market|Cutive+Mono|Electrolize|Fredericka+the+Great|Glass+Antiqua|Handlee|Kalam|Kranky|Lekton|Life+Savers|Limelight|Love+Ya+Like+A+Sister|Megrim|Mountains+of+Christmas|Nixie+One|Poiret+One|Pompiere|Press+Start+2P|Quantico|Rajdhani|Ribeye+Marrow|Scope+One|Sigmar+One|Special+Elite|Stardos+Stencil|Unica+One|Unkempt|Source+Serif+Pro'); */
/*recipe titles*/
/* @import url('https://fonts.googleapis.com/css?family=Clicker+Script|Cookie|Covered+By+Your+Grace|Dancing+Script|Homemade+Apple|Parisienne|Permanent+Marker|Rochester|Rock+Salt|Rouge+Script|Sacramento|Shadows+Into+Light|Shadows+Into+Light+Two|Stalemate|Sue+Ellen+Francisco'); */
/*main font*/
/* @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Encode+Sans+Semi+Expanded|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Fjalla+One|Marvel|Oswald|Pathway+Gothic+One|Quicksand|Roboto+Condensed|Ruda|Saira+Condensed'); */

/* to define local fonts */
/* latin-ext */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url(./fonts/barlow-condensed-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url(./fonts/barlow-condensed-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(./fonts/source-serif-pro-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(./static/fonts/source-serif-pro-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(./fonts/homemade-apple-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    font-family: 'Barlow Condensed', sans-serif;
    /*font-family: 'Fira Sans Extra Condensed', sans-serif;*/
    /*font-family: 'Ruda', sans-serif;*/
    /*font-family: 'Saira Condensed', sans-serif;*/
    font-size: 26px;
    
}
a {
	color: black;
	font-size: large;
    padding: 10px;
    text-shadow: .5px .5px grey;
}

	a:visited {
		color: grey;
		text-shadow: .5px .5px black;
	}

body {
	background-attachment: fixed;
    background-image: url("./images/media-query-backdrop.jpg");
    background-position: center;
    background-size: cover;
}
	
button {
	box-shadow: 2px 2px 2px 2px black;
}

footer {
	background-color: white;
    border: none;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dollar,	
h1 {
	font-family: 'Source Serif Pro', serif;
	font-size: 6vw;
	text-align: center;
}
	
	
h2 {
	background-color: white;
	border: thin solid black;
	font-family: 'Homemade Apple', cursive;
	font-size: 5vw;
	margin: 1rem;
	text-shadow: .5px .5px grey;
}
	
h2,
footer,
.recipe-on-home {
	box-shadow: 2px 2px 2px 2px black;
}
	
h3 {
	font-size: 5vw;
}

header {
    border: double;
    border-width: 10px;
    background-color: white;
    background-image: none;
}


ul {
	background-color: white;
	border: thin solid black;
	margin: 1rem;
	box-shadow: 2px 2px 2px 2px black;
	list-style-position:inside;
	padding: 15px;
}

.checkout-item {
	font-size: 5vw;
}

.container {
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.copyright {
    font-size: 3.5vw;
    text-shadow: .5px .5px grey;
}

.dollar {
	color: green;
	/*color: #1B3818;*/
	font-family: 'Source Serif Pro', serif;
	font-size: 8vw;
}

.final-selection {
	background-color: transparent;
	border: none;
	box-shadow: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	.final-selection li {
		background-color: white;
		border: thin solid black;
		margin: 1rem;
		box-shadow: 2px 2px 2px 2px black;
		padding: 15px;
	}

.ing-pg-list {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
}

	.ing-pg-list li {
		background-color: white;
		border: thin solid black;
		margin-bottom: 1rem;
		margin-top: 1rem;
		box-shadow: 2px 2px 2px 2px black;
		padding: 15px;
	}


.page-title {
	font-family: 'Homemade Apple', cursive;
}

.recipe-on-home {
	background-color: white;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;	
}

.store-item {
	font-size: small;
}

.store-item-image {
	height: auto;
	max-width: 65vw;
}

.store-item-name {
	font-size: 5vw;
}

.store-item-selection {
	background-color: white;
	border: thin solid black;
	margin: 1rem;
	box-shadow: 2px 2px 2px 2px black;
	padding: 15px;
}

.text {
	font-size: 5vw;
}

.total-edit {
	background-color: white;
	border: thin solid black;
	margin: 1rem;
	box-shadow: 2px 2px 2px 2px black;
	padding: 15px;
	text-align: right;
}

#build-cart {
	border: none;
	box-shadow: none;
	margin: 0;
}

#my-shopping-list {
	border: none;
	box-shadow: none;
	margin: 0;
}

#one-recipe-image {
	background-image: transparent;
	border: thin solid black;
	box-shadow: 2px 2px 2px 2px black;
}

#pick-recipes {
	box-shadow: 2px 2px 2px 2px black;
}

#recipe-instructions {
	background-color: white;
	border: thin solid black;
	margin: 1rem;
	box-shadow: 2px 2px 2px 2px black;
	padding: 15px;
	text-align: center;
}

#recipe-text {
    color: black;
}

#selected-image {
	height: auto;
	max-width: 90%;
}

#social__media {
    font-size: xx-large;
}































@media (min-width: 600px) {
	.copyright {
		font-size: 3vw;
	}
}

@media (min-width: 768px) {
	body {
		background-attachment: fixed;
	    background-image: url("./images/meal-prep-cutting-board-2.jpg");
	    background-size: cover;
	}

	footer {
		background-color: transparent;
		background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); 
		margin: 0;
	}

	h1 .dollar,
	h1 {
	    /*font-family: 'Cabin Sketch', cursive;*/
	    /*font-family: 'Arima Madurai', cursive;*/
	    /*font-family: 'Unica One', cursive;*/
	    /*font-family: 'Special Elite', cursive;*/
	    /*font-family: 'Love Ya Like A Sister', cursive;*/
	    /*font-family: 'Fredericka the Great', cursive;***/
	    /*font-family: 'Nixie One', cursive;*/
	    /*font-family: 'Kranky', cursive;*/
	    /*font-family: 'Stardos Stencil', cursive;***/
	    /*font-family: 'Life Savers', cursive;*/
	    /*font-family: 'Glass Antiqua', cursive;*/
	    /*font-family: 'Atma', cursive;*/
	    /*font-family: 'Poiret One', cursive;***/
	    /*font-family: 'Rajdhani', sans-serif;*/
	    /*font-family: 'Handlee', cursive;*/
	    /*font-family: 'Press Start 2P', cursive;*/
	    /*font-family: 'Chelsea Market', cursive;*/
	    /*font-family: 'Cutive Mono', monospace;*/
	    /*font-family: 'Allerta Stencil', sans-serif;*/
	    /*font-family: 'Scope One', serif;*/
	    font-family: 'Source Serif Pro', serif;
	    font-size: 46px;
		    
	}

	h2 {
		border: none;
		box-shadow: none;
	    /*font-family: 'Clicker Script', cursive;***/
	    /*font-family: 'Covered By Your Grace', cursive;*/
	    /*font-family: 'Dancing Script', cursive;*/
	    font-family: 'Homemade Apple', cursive;
	    /*font-family: 'Parisienne', cursive;*/
	    /*font-family: 'Permanent Marker', cursive;*/
	    /*font-family: 'Rock Salt', cursive;*/
	    /*font-family: 'Rouge Script', cursive;*/
	    /*font-family: 'Sacramento', cursive;*/
	    /*font-family: 'Shadows Into Light Two', cursive;*/
	    /*font-family: 'Stalemate', cursive;*/
	    /*font-family: 'Sue Ellen Francisco', cursive;*/
		font-size: 34px;
		text-shadow: .5px .5px grey;
	}

	h3 {
		font-size: 32px;
	}

	header {
		border: none;
	}

	.content {
		background-color: white;
		border: none;
		box-shadow: none;
	}

	.copyright {
		font-size: 2vw;
	}

	.recipe-on-home {
		border: none;
		box-shadow: none;
		margin: 0;
	}

	.recipe-on-home {
		border: none;
		box-shadow: none;
		margin: 0;
	}

	.recipes {
		background-color: white;
	}

	.selected-ingredients {
		border: none;
		box-shadow: none;
	}

	.selection-header {
		background-color: white;
		border: thin solid black;
		box-shadow: 2px 2px 2px 2px black;
	}

	.store-item {
		background-color: white;
		border: thin solid black;
		box-shadow: 2px 2px 2px 2px black;
	}

	.store-item-name {
		font-size: 1.75vw;
	}

	.store-item-selection {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	#pick-recipes {
		border: none;
		box-shadow: none;
	}
}
