#back {
	color: #a239ca;
	font-size: large;
}

#news {
	border-style: solid;
	border-width: 5px;
	border-radius: 12px;
	border-color: #1fb58f;
	color: black;
	background-color: #f24c4e;
	opacity: 0.5;
	padding: 10px;
}

#contact {
	border-style: solid;
	border-width: 5px;
	border-radius: 12px;
	border-color: #1fb58f;
	color: black;
	background-color: #f24c4e;
	opacity: 0.5;
	padding: 10px;
}

#review {
	color: #e7dfdd;
}

#recipe-items {
	border-style: solid;
	border-width: 5px;
	border-radius: 12px;
	border-color: #f24cfe;
	color: #eab126;
	background-color: #1b73b4;
	opacity: 0.5;
	padding: 10px;
}

#social__media {
	font-size: xx-large;
}

.categories {
	background: url("/images/turnTable.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: thin;
	border-radius: 12px;
}

a {
	font-family: courier;
	border-style: solid;
	border-width: thin;
	border-color: #0e0b16;
	background-color: #0e0b16;
	opacity: 0.5;
	padding: 10px;
}

a:hover {
	color: #0e0b16;
	opacity: 0.7;
}

a:link {
	color: #e7dfdd;
}

a:visited {
	color: #e7dfdd;
}

a:active {
	color: #0e0b16;
}

body {
	background-image: url("./images/meal_prep.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

footer {
	background-color: #1fb58f;
	border-style: solid;
	border-width: thin;
	border-radius: 12px;
}

h1 {
	color: black;
	font-family: courier;
	font-size: 150%;
	font-weight: bolder;
}

header {
	background-color: #1fb58f;
	border-style: solid;
	border-width: thin;
	border-radius: 12px;
}

i {
	font-size: 200%;
}

p {
	font-size: large;
}