<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="../static/style.css"></link>
	<link rel="stylesheet" href="../static/layout.css"></link>
	<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
	<title>Final Product</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>The Grocery App</h1>
			<h1>My Grocery List</h1>
		</header>
		
		<section class="idontknowwhatbutnotingredients">
			<h2>Shopping List Items</h2>
			
			<ul>
			<li th:each="i: ${groceryListLineItems}">
			 	<span th:text="${i.quantity} + '---' + ${i.storeItem.name} 
			 	+ '---' + ${i.storeItem.displayPrice}
			 	 	+ '--- ' + ${i.displayTotalPrice}"></span>
			
			</li>
		
			</ul>
			<p th:text="'Total: $' + ${totalGroceryPrice}"></p>

			<p>Edit Shopping Cart</p>
		</section>

		<footer>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> 
				<i class="fa fa-reddit-square" aria-hidden="true"></i> 
				<i class="fa fa-twitter-square" aria-hidden="true"></i> 
				<i class="fa fa-youtube-square" aria-hidden="true"></i> 
				<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
			<h4>The Grocery App Team Copyright 2017</h4>
		</footer>
	</div> <!-- container -->
	<script src="./app.js"></script>
</body>
</html>