<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
	<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
	<title>Final Product</title>
</head>

<body>
	<div class="container">
		<header>
			<h2 id="my-shopping-list">My Shopping List</h2>
				<!-- <div id="social__media">
					<i class="fa fa-facebook-square" aria-hidden="true"></i> 
					<i class="fa fa-reddit-square" aria-hidden="true"></i> 
					<i class="fa fa-twitter-square" aria-hidden="true"></i> 
					<i class="fa fa-youtube-square" aria-hidden="true"></i> 
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div> -->
		</header>
		
		<section>
			<!-- <h2>Shopping List Items</h2> -->
			
			<div class="selection">
				<ul class="final-selection">
					<li th:each="i: ${groceryListLineItems}">
						<img class="checkout-item" id="selected-image" th:src="${i.storeItem.imgUrlLg}"/>
					 	<span class="text"><strong>Quantity: </strong><span class="checkout-item" th:text="${i.quantity}"></span></span>
					 	<span class="text"><strong>Store Item: </strong><span class="checkout-item" th:text="${i.storeItem.name}"></span></span>
					 	<span class="text"><strong>Price Per Item: </strong><span class="checkout-item" th:text="${i.storeItem.displayPrice}"></span></span>
					 	<span class="text"><strong>Total Price: </strong><span class="checkout-item" th:text="${i.displayTotalPrice}"></span></span>
					</li>
				</ul>
			</div>
			
			<div class="total-edit">
				<p th:text="'Total: $' + ${totalGroceryPrice}"></p>

				<p>Edit Shopping Cart</p>
			</div>
			
		</section>

		<footer>
			<p class="copyright">Copyright © 2017</p>
		</footer>
	</div> <!-- container -->
	<script src="./app.js"></script>
</body>
</html>