<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
	<script src="https://use.fontawesome.com/ecc099372b.js"></script>
	<title>Ingredients</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>The Grocery App</h1>
			<h1>Ingredients</h1>
		</header>
		
		<section class="ingredients">
			<h2></h2>
		
	<!-- 	<form action="/action_page.php" method="get">
  			<input type="checkbox" name="vehicle" value="Bike"><span> I have a bike</span>
  			<input type="checkbox" name="vehicle" value="Car"><span>I have a car</span> 
  			<input type="submit" value="Submit">
		</form>
		
	 -->	
			<h2>CheckBox, Quantity, Ingredient, Recipe Name</h2>	
			<form method = "POST">
			
				<ul>
					<li th:each="i: ${selectedIngredients}">
					 	<button th:id="${i.id}" th:formaction="@{/remove(id=${i.id})}">delete</button> 
						<span th:text="${i.quantity} + ' ' + ${i.name}"></span>
					</li>
			
			</ul>
		</form>	
	
		<p>Back to Recipes</p>
		<button>Shop</button>
		</section>

		<footer>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> 
				<i class="fa fa-reddit-square" aria-hidden="true"></i> 
				<i class="fa fa-twitter-square" aria-hidden="true"></i> 
				<i class="fa fa-youtube-square" aria-hidden="true"></i> 
				<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
			<h4>The Grocery App Team Copyright 2017</h4>
		</footer>
	</div> <!-- container -->
	<script src="./app.js"></script>
</body>
</html>