<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="./style.css"></link>
    <link rel="stylesheet" href="./layout.css"></link>
    <!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
    <title>Ingredients</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-title">Ingredients</h1>
        </header>
        
        <section class="ingredients">
            <form method = "POST">
            
                <ul>
                    <li th:each="i: ${selectedIngredients}">
                        <span id="ingredient-item" th:text="${i.quantity} + '  ---    ' + ${i.name} + ', ' + ${i.recipe.name}"></span>
                        <button class="delete-button" th:id="${i.id}" th:formaction="@{/remove(id=${i.id})}"><span>+</span></button>
                    </li>
                </ul>
            </form>
        
        <div class="nav-buttons">
            <form id="shop-button" method="POST">
                <button type="submit" formaction="/shop">Shop</button>
            </form>
            <a class="back" href="http://localhost:8080/recipes">Back to
                Recipes</a>
        </div>
        
        </section>
        
        <footer>
                <p class="copyright">Copyright © 2017</p>
            </footer>
        
    </div> <!-- container -->
    <script src="./app.js"></script>
</body>
</html>