<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
	<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
	<title th:text="${recipe.name}"></title>
</head>

<body>
	<div class="container">
		<header>
			<h1 class="page-title" th:text="${recipe.name}"></h1>
		</header>

		<section class="recipe-layout">
				<img id="one-recipe-image" th:src="${recipe.imageUrl}"></img>
			<div class="recipe-ingredients">
				<h2 id="ingredients">Ingredients</h2>
					<ul>
						<li th:each="i: ${recipe.listOfIngredients}"><span
							th:text="${i.quantity} + ' ' + ${i.name}"></span></li>
					</ul>
			</div>
		</section>

		<section class="instructions">
			<h2>Instructions</h2>
			<p id="recipe-instructions" th:utext="${recipe.instructions}"></p>
			
		</section>
		
		<div class="nav-buttons">
			<form  id="cook-button" method="POST">
				<button type="submit" th:formaction="@{/cook-this(id=${recipe.id})}">Cook
					This</button>
			</form>
			<a class="back" href="http://localhost:8080/recipes">Back to
				Recipes</a>
		</div>
		
<!-- 		<footer>
			<h4>The Grocery App Team Copyright 2017</h4>
			<div id="social-media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>

		</footer> -->
		<footer>
				<p class="copyright">Copyright © 2017</p>
		</footer>
	</div>
	<!-- container -->
	<script src="./app.js"></script>
</body>
</html>