<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
	<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
	<title>Recipes</title>
</head>

	<body>
		<div class="container">
			<section>
			<header>
			<!-- <div class="title-social"> -->
				<h1>dinner plan<span class="dollar">$</span></h1>
				<!-- <div id="social__media">
					<i class="fa fa-facebook-square" aria-hidden="true"></i> 
					<i class="fa fa-reddit-square" aria-hidden="true"></i> 
					<i class="fa fa-twitter-square" aria-hidden="true"></i> 
					<i class="fa fa-youtube-square" aria-hidden="true"></i> 
					<i	class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div> -->
			<!-- </div> -->			
			</header>
			</section>
				
				<!-- <img class="cover-image" src="./images/meal_prep.jpg"/> -->
			
			<!-- Content -->
			<section class="content">
				<h2>Pick Your Recipe(s):</h2>
				<div class="recipes">
					<div th:each="i: ${recipes}">
						<a class="recipe-on-home" th:href="@{/recipe(id=${i.id})}">
						<img class="recipe-image" th:src="${i.imageUrl}"/>
						<h3 th:text="${i.name}"></h3></a>
					</div>
				</div>
			</section>

			<!-- Footer -->
			<footer>
				<p class="copyright">The Grocery App Team Copyright 2017</p>
			</footer>
		</div> <!-- close .container -->
		<script src="./app.js"></script>
	</body>
</html>