<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
	<script src="https://use.fontawesome.com/ecc099372b.js"></script>
	<title>Recipes</title>
</head>

	<body>
		<div class="container">
			<header>
				<h1>The Grocery App</h1>
				<h1>Pick A Recipe</h1>
			</header>
				
				<img class="cover-image" src="./images/meal_prep.jpg"/>
			
			<!-- Content -->
			<div class="recipes">
				<section class="recipe-item">
					<div th:each="i: ${recipes}">
						<a th:href="@{/recipe(id=${i.id})}">
						<img class="recipe-image" th:src="${i.imageUrl}"/>
						<h3 th:text="${i.name}"></h3></a>
					</div>
				</section>
			</div>

			<!-- Footer -->
			<footer>
				<div id="social__media">
					<i class="fa fa-facebook-square" aria-hidden="true"></i> 
					<i class="fa fa-reddit-square" aria-hidden="true"></i> 
					<i class="fa fa-twitter-square" aria-hidden="true"></i> 
					<i class="fa fa-youtube-square" aria-hidden="true"></i> 
					<i	class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div>				
				<h4>The Grocery App Team Copyright 2017</h4>
			</footer>
		</div>
		<script src="./app.js"></script>
	</body>
</html>



		<!-- <div id="recipe-item">
				<a href="">
					<img class="recipe-image" src="../static/images/chicken-pot-pie.jpg" alt=chicken-pot-pie>
					<div id="recipe-text">
						<h3 class="recipe-name">Chicken Pot Pie</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
				</a>
			</div>

			<br class="recipe-separator"></br>

			<div id="recipe-item">
				<a href="">
					<div id="recipe-text">
						<h3 class="recipe-name">Chicken Broccoli Alfredo</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<img class="recipe-image" src="../static/images/chicken-broccoli-alfredo.jpg" alt=chicken-pot-pie>
					
				</a>
			</div> // to close #recipe-items div -->