<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/style.css"></link>
<link rel="stylesheet" href="../static/layout.css"></link>
<script src="https://use.fontawesome.com/ecc099372b.js"></script>
<title>Choose a Recipe</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>Pick A Recipe</h1>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
		</header>
		<div class="recipes">
			
			<div id="recipe-item">
				<a href="">
					<img src="../static/images/chicken-pot-pie.jpg" alt=chicken-pot-pie  height= "200px" width= "300">
					<div id="recipe-text"><h3>Chicken Pot Pie</h3><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
				</a>
			</div>
			<div id="recipe-item">
				<a href="">
					<div id="recipe-text"><h3>Chicken Broccoli Alfredo</h3><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
					<img src="../static/images/chicken-broccoli-alfredo.jpg" alt=chicken-pot-pie  height= "200px" width= "300">
					
				</a>
			</div>
			
		</div>
		<footer>
			<h4>The Grocery App Team Copyright 2017</h4>
		</footer>
	</div>
	<script src="./app.js"></script>
</body>
</html>