<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
 -->
<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
<title>Store Items</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>The Grocery App</h1>
			<h1>Build Your Cart</h1>
		</header>
		<!-- 
model attribute names for thymeleaf: 
	selectedIngredients
	selectedTags
	productSelections
-->

		<form th:action="@{/process-store-item-selections}"
			th:object="${productSelections}" target="_blank" method="post">
			<div th:each="i:${selectedTags}">
				<span>a div for TAG </span><span th:text="${i.tag}"></span>
				<p th:each="j: ${selectedIngredients}"
					th:if="${j.tag.tag} == ${i.tag}">
					<span th:text="'a p for selected INGREDIENT ' + ${j.name}"></span>
				</p>

				<p th:each="j, iter: ${i.storeItems}">
					<input type="checkbox" th:field="*{ids[__${iter.index}__]}"
						th:value="${j.id}" /> <span>a p for STOREITEM </span> 
						<p th:text="'id ' + ${j.id}"></p>
						<span
						th:text="${j.name}"></span> <input type="text"
						th:field="*{qtys[__${iter.index}__]}" th:value="'1'" />
				</p>
			</div>

			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>

		<footer>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
			<h4>The Grocery App Team Copyright 2017</h4>
		</footer>
	</div>
	<!-- to close container -->
	<script src="./app.js"></script>
</body>
</html>