<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
<title>Store Items</title>
</head>

<body>
	<div class="container">
		<header class="build-cart">
			<h2 id="build-cart">Build Your Cart</h2>
				<!-- <div id="social__media">
					<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
						class="fa fa-reddit-square" aria-hidden="true"></i> <i
						class="fa fa-twitter-square" aria-hidden="true"></i> <i
						class="fa fa-youtube-square" aria-hidden="true"></i> <i
						class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div> -->
		</header>
		<!-- 
model attribute names for thymeleaf: 
	selectedIngredients
	selectedTags
	productSelections
-->
		<section>
		<form th:action="@{/process-store-item-selections}"
			th:object="${productSelections}" method="post">
			<div class="store-item-selection" th:each="i, tagIter:${selectedTags}">
				
				<div class="selection-header">	
					<p>Selected Ingredient:</p>
						<ul class="selected-ingredients">
							<li class="ingredient-name" th:each="j: ${selectedIngredients}"
								th:if="${j.tag.tag} == ${i.tag}">
								<span th:text="${j.quantity} + ' ' + ${j.name}"></span>
							</li>
						</ul>
				</div>
				
				<div class="store-options">
				<p class="store-item" th:each="j, iter: ${storeItems}" th:if="${i.tag} == ${j.tag.tag}">
					
					<img class="store-item-image" th:src="${j.imgUrlLg}"/>
					<br></br>
					<span class="selection-item"><input class="checkbox" type="checkbox" th:field="*{ids[__${j.id}__]}"
						th:value="${j.id}" /> 
					<input id="quantity-input" type="text" th:field="*{qtys[__${j.id}__]}" th:value="'1'" th:placeholder="1" />
					<!-- <br></br> -->
					<span id="store-item-name" th:text="${j.name}"></span>
					<span id="comma">,</span>
					<span id="store-item-price" th:text="'$' + ${j.displayPrice}"></span></span>
					<br></br>
				
				</p>
				</div>
			</div>

			<a class="back" href="http://localhost:8080/recipes">Back to Recipes</a>

			<p class="submit-reset">
				<input type="submit" value="Submit" />
				<input type="reset" value="Reset" />
				<!-- <button><input type="submit" value="Submit" /></button>
				<button><input type="reset" value="Reset" /></button> -->
			</p>
		
		</form>
		</section>

		<footer>
			<p class="copyright">Copyright © 2017</p>
		</footer>
	</div> <!-- to close container -->
	<script src="./app.js"></script>
</body>
</html>
