<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 	<link rel="stylesheet" href="./style.css"></link>
	<link rel="stylesheet" href="./layout.css"></link>
 -->
<!-- <script src="https://use.fontawesome.com/ecc099372b.js"></script> -->
<title>Store Items</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>The Grocery App</h1>
			<h1>Build Your Cart</h1>
		</header>

		<div th:each="i: ${selectedTagsList}">
			<p th:text="${i.tag} +_group"></p>
			<p th:each="j: ${selectedIngredientsList}">
			<!-- <span th:text="${j.tag.tag}"> </span><span th:text="${i.tag}"></span> -->
			<span th:if="${j.tag.tag} == ${i.tag}" th:text="${j.name}"></span>
			
<!-- 			Thymeleaf conditional will iterate through each 
			ingredient [j] in selectedIngredientsList
			, compare its tag to 
			[i.tag.tag], and if it matches, list [j.quantity] and [j.name] here. 
			If not, thymeleaf does nothing. -->
			</p>
<!-- 			<p>Tags in selected ingredients</p> -->
			<ul>
				<li></li>
			</ul>


		</div>


		<p>hard coded stuff follows</p>
		<section class="ingredients">
			<ul>
				<li>Ingredient, Quantity</li>
				<li>Ingredient, Quantity</li>
			</ul>
			<ul>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
			</ul>
			<ul>
				<li>Ingredient, Quantity</li>
				<li>Ingredient, Quantity</li>
			</ul>
			<ul>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
			</ul>
			<ul>
				<li>Ingredient, Quantity</li>
				<li>Ingredient, Quantity</li>
			</ul>
			<ul>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
				<li>Checkbox, Store Item, Quantity</li>
			</ul>

			<p>Back to Ingredients</p>
			<button>Final List</button>

		</section>

		<footer>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
			<h4>The Grocery App Team Copyright 2017</h4>
		</footer>
	</div>
	<!-- container -->
	<script src="./app.js"></script>
</body>
</html>